doctype doctype html
html(lang="en")
    include ../views/head.pug

body 
    include ../views/nav.pug
  
    include ../views/main.pug

    script(src="/js/jquey.min.js")
    script(src="/js/bootstrap.min.js")