nav.navbar.navbar-expand-sm.bg-dark.navbar-dark 
    div.container-fluid 
        ul.navbar-nav 
            li.nav-item 
                a.nav-link(href="/index") Home 
            li.nav-item 
                a.nav-link(href="/thebigbangtheory") The Big Bang Thoery 
            li.nav-item 
                a.nav-link(href="/strangerthings") Stranger Things
            li.nav-item 
                a.nav-link(href="/sobrenatural") Sobre Natural
                    